.DS_Store
# Ignore wp-config.php and .htaccess
blog/wp-config.php
.htaccess


# Don’t ignore plugins dir, but ignore everything inside
!/wp-content/plugins
/wp-content/plugins/*

# Don’t ignore akismet plugin
!/wp-content/plugins/akismet
